/**
 * App - Layout
 */

*
*:before
*:after
	box-sizing border-box

html
body
#tamachi-app
#tamachi-page
	width 100%
	height 100%
	margin 0

body
	overflow hidden

	::selection
		background-color var(--accent_color)

#tamachi-page
	display flex

#tamachi-app
	position relative

	a
	a:hover
	a:focus
	a:visited
		color inherit
		text-decoration none
