/**
 * App - Simplebar
 */

@import "../../../node_modules/simplebar/dist/simplebar.min.css"

#tamachi-app

	.simplebar-vertical
		margin-right -1px

	.simplebar-scrollbar
		right 0

		&:before
			background var(--color_07)
			border-radius 0
			opacity 1
			top 0
