$e_standard = cubic-bezier(0.4, 0.0, 0.2, 1)
$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

$sidebar_width = 32rem
$sidebar_width_resp = 27rem
$sidebar_paddinglr = 4rem
$sidebar_paddinglr_resp = 6rem

$archive_item_paddingtb = 4rem
$archive_item_paddinglr = 6rem

$home_item_paddingtb = 4rem
$home_item_paddinglr = 8rem

$post_header_paddingb = 21rem

$layout_singular_padding = 6rem

$paragraph_margint = 2.5rem
